.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.slider * {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.slider__slides-container {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.slider__slide {
  position: relative;
  display: block;
  width: 1920px;
  height: 500px;
  left: -100%;
}

.slider__slide--active {
  left: 0;
}